<ion-header>
  <h1>History</h1>
</ion-header>
<ion-content class="content">

  <div class="background">
    <div class="flex-center">
      <ion-card>
        <ion-card-content>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" presentation="date" value="2023-11-02T01:22:00" [preferWheel]="true"
                [formatOptions]="{
        date: {
          weekday: 'short',
          month: 'long',
          day: '2-digit',
        },}"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-text class="text-line">
                <h2 class="title">Timestamp:</h2>
                <h2>05/16/2024 22:00pm</h2>
              </ion-text>
            </ion-item>

            <ion-item>
              <ion-text>
                <h2 class="text-line-sucess">completed sucessfully</h2>
              </ion-text>
            </ion-item>
          </ion-list>
          <div class="buttons-wrapper">
            <div class="center-button">
              <ion-button shape="round" size="full" (click)="GoToEnd()">See more</ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-text class="text-line">
                <h2 class="title">Timestamp:</h2>
                <h2>05/16/2024 2:33pm</h2>
              </ion-text>
            </ion-item>

            <ion-item>
              <ion-text>
                <h2 class="text-line-error"> completed with errors</h2>
              </ion-text>
            </ion-item>
          </ion-list>
          <div class="buttons-wrapper">
            <div class="center-button">
              <ion-button shape="round" size="full" (click)="GoToEnd()">See more</ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <div class="buttons-wrapper">
        <div class="center-button">
          <ion-button shape="round" size="full" (click)="GoToMain()">Main</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>