.center-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.background {
    background-color: #e4dad7;
    height: 100%;
}

.custom-button {
    font-size: 20px;
    /* Adjust text size */
    padding: 10px 20px;
    /* Adjust padding */
}