<ion-header>
  <h1>Home</h1>
</ion-header>
<ion-content>

  <div class="background">
    <div class="flex-center">

      <ion-card>
        <ion-card-header>
          <ion-card-title>Hectoliter Scaler</ion-card-title>
        </ion-card-header>
        <div>
          <ion-button class="custom-button" shape="round" size="full" (click)="StartProcess()" [disabled]="!machineAvailable">Start
            measurement</ion-button>
            <div class="ion-text-center not-available" *ngIf="!machineAvailable && started">
              Machine not available
            </div>
          <ion-button style="width: 100%;" class="custom-button" shape="round" size="full" (click)="GoToHistory()">See
            history</ion-button>
        </div>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>