/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-header {
    background-color: #FFBD59;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    h1 {
        font-size: 22px;
        margin: 0;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
}

ion-content {
    background-color: #E7DFDD;
}

.background {
    background-color: #E7DFDD;
    height: 100%;
    overflow-y: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.margin_card {
    margin-top: 15px;
    margin-bottom: 15px;
}

ion-content {
    overflow: hidden;
}

.text-line {
    display: flex;
    flex-direction: row;
}

.title {
    font-weight: 800;
}

.text-line-error {
    font-weight: 800;
    display: flex;
    flex-direction: row;
    color: red;
}

h2 {
    margin: 10px 5px 10px 5px;
}

.title {
    font-weight: bold;
    color: rgba(46, 46, 46, 0.61);
}

.text-line-sucess {
    font-weight: 800;
    display: flex;
    flex-direction: row;
    color: rgb(44, 180, 3);
}

.center-button {
    width: 80%;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

ion-card {
    width: 80%;
}

ion-card-title {
    color: #FFBD59;
    text-align: center;
}

ion-button {
    --background: #FFBD59;
    --background-hover: #FFBD59;
    --background-activated: #FFBD59;
    --background-focused: #FFBD59;
}

.custom-button {
    font-size: 20px;
    padding: 10px 20px;
}
