.config-imagem {
    width: 50%;
    color: "#e4dad7"
}

.background {
    background-color: #e4dad7;
    height: 100%;
}

.spacer {
    height: 20px;
    /* Altura do espaço entre o texto e a imagem */
}