.config-imagem {
    width: 50%;
    color: "#e4dad7"
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.spacer {
    height: 20px;
    /* Altura do espaço entre o texto e a imagem */
}