.config-imagem {
    width: 50%;
    color: "#e4dad7"
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.spacer {
    height: 20px;
}

.confirm{
    align-self: flex-start;
    .ion-text-center{
        font-size: 18px;
    }
}