<ion-content>
  <div class="background">
    <div class="flex-center">

      <ion-card>
        <ion-card-header>
          <ion-card-title color="warning">Hectoliter Scaler</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-input label="User" labelPlacement="floating" placeholder="Enter user name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Password" labelPlacement="floating" type="password"
              placeholder="Enter password"></ion-input>
          </ion-item>
          <ion-button shape="round" size="full" (click)="GoToMain()"> Login</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>