ion-button {
    margin: 25px;
}

.background {
    background-color: #e4dad7;
    height: 100%;
}

.center-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}