<ion-content class="content">
  <div class="background">
    <div class="flex-center">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-text class="text-line">
                <h2 class="title">Timestamp:</h2>
                <h2>TESTE</h2>
              </ion-text>
            </ion-item>

            <ion-item>
              <ion-text class="text-line">
                <h2 class="title">Operator:</h2>
                <h2>TESTE</h2>
              </ion-text>
            </ion-item>

            <ion-item>
              <ion-text class="text-line">
                <h2 class="title">Measured Weight:</h2>
                <h2>TESTE</h2>
              </ion-text>
            </ion-item>

            <ion-item>
              <ion-text class="text-line">
                <h2 class="title">Calculated Hectoliter:</h2>
                <h2>TESTE</h2>
              </ion-text>
            </ion-item>

            <ion-item>
              <ion-text class="text-line">
                <h2 class="title">Status:</h2>
                <h2>TESTE</h2>
              </ion-text>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="buttons-wrapper">
    <div class="center-button">
      <ion-button color="warning" shape="round" size="full" (click)="GoToMain()">Main</ion-button>
      <ion-button color="warning" shape="round" size="full" (click)="GoToHistory()">History</ion-button>
    </div>
  </div>
</ion-content>